<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" id="form">
        <table>
            <tr>
                <td>账号:</td>
                <td><label>
                    <input name="userName" id="user_name"/>
                </label></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><label>
                    <input type="password" name="userPassword" id="user_password"/>
                </label></td>
            </tr>
            <tr>
                <td colspan="2"><label>
                    <input type="submit" value="登录"/>
                </label></td>
            </tr>
        </table>
    </form>
</body>
</html>
